<nav class="navbar navbar-default container-fluid" role"navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <small>Tiny</small><b>App</b>
    </a>
    <table class="text-center">
        <tr>
          <% if (user_name) { %>
          <form method="POST" action="/logout">
            <th style="padding-top: 9px;"><a href="/logout"><button class="btn btn-default" type="submit">Logout</button></a></th></form>
            <th style="padding-top: 9px;"><a href="/urls/new"><button class="btn btn-default" type="submit">Add Link</button></a></th>
            <th style="padding: 13px 0px 0px 10px; width: 80%;">Welcome <%=user_name%>!</th>
          <% } else { %>
            <th style="padding-top: 9px;"><a href="/login"><button class="btn btn-default" type="submit">Login</button></a></th>
            <th style="padding-top: 9px;"><a href="/register"><button class="btn btn-default">Register</button></a></th>
            <th style="padding: 13px 0px 0px 0px; width: 80%;">Here to shorten all URLs!</th>
          <% } %>
      </tr>
    </table>
  </div>
</nav>
