<meta charset="UTF-8">
<title>TinyApp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  nav {
    border-radius: 5px;
  }
  .banner {
    padding: 10px 0px 0px 10px;
    width: 80%;
  }
  .bannerbtn {
    padding-top: 9px;
  }
  body {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  h1 {
    margin-top: -40px;
    font-size: 4.0em;
  }
  th {
    color: black;
  }
  .tablefont {
    color: black;
    font-family: raleway, sans-serif;
    font-size: 1.2em;
  }
  .rowone {
    width: 45%;
    padding-top: 5px;
  }
  .rowtwo {
    width: 35%;
    padding-top: 5px;
  }
  .rowthree {
    padding-left: 50px;
    padding-top: 5px;
    width: 5%;
  }
  .rowfour {
    padding-left: 2%;
    padding-top: 5px;
    width: 5%;
  }
  table {
    margin-left: 25px;
  }
  .jumbotron {
    opacity: 0.8;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px
  }
  .box {
    background-color: #555;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    width: 100%;
  }
  .btn {
    background: #999;
  }
  .foot {
    margin-top: -25px;
    margin-left: 50%;
  }
</style>
