<nav class="navbar navbar-default container-fluid" role"navigation">
  <div class="navbar-header">
    <a class="navbar-brand"><small>Tiny</small><b>App</b></a>
    <table class="text-center">
        <tr>
          <% if (user_name) { %>
          <form method="POST" action="/logout">
            <th class="bannerbtn"><a href="/logout"><button class="btn btn-default" type="submit">Logout</button></a></th></form>
            <th class="bannerbtn"><a href="/urls/new"><button class="btn btn-default" type="submit">Add Link</button></a></th>
            <th class="banner">Welcome <%=user_name%>! You are logged in on <%=user_email%></th>
          <% } else { %>
            <th class="bannerbtn"><a href="/login"><button class="btn btn-default" type="submit">Login</button></a></th>
            <th class="bannerbtn"><a href="/register"><button class="btn btn-default">Register</button></a></th>
            <th class="banner">Login or Join to Resize URLs!</th>
          <% } %>
      </tr>
    </table>
  </div>
</nav>
