<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body class="container">

  <header>
    <% include ../partials/_header %>
  </header>

  <main>
    <div class="jumbotron">

      <h3><%= shortURL %></h3>
      <p>^^ Shortened URL above ^^</p>
    </div>
  </main>

  <footer>
    <% include ../partials/_footer %>
  </footer>

</body>
</html>
