<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>

<header class="container-fluid">
  <% include partials/_header %>
</header>
<body class="container">

  <header>
  </header>

  <main>
    <div class="jumbotron">
      <h1 class="text-center"><small>Tiny</small>App</h1>
      <div class="box">
        <table>
          <tr class="column-title">
            <th class="one">shortURL</th>
            <th class="two">longURL</th>
            <th class="three">Edit</th>
            <th class="four">Delete</th>
          </tr>
          <% for(let url in urls) { %>
          <tr>
            <th class="one">http://localhost:8080/u/<%= url %></th>
            <th class="two"><%= urls[url] %></th>
            <th class="three"><a href="<%=`/urls/${url}`%>"><button class="btn"><i class="fa fa-pencil-square-o"></i></button></a></th>
            <th class="four"><form method="POST" action="/urls/<%=url%>/delete"><button class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button></form></th>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
  </main>

  <footer class="foot">
    <% include partials/_footer %>
  </footer>

</body>
</html>
