<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body class="container">

  <main>
    <div class="jumbotron">
      <div class="text-center">
        <h1><small>tiny</small>App</h1>
        <p><%= shortURL %>: <%= longURL %></p>
        </div>
        <div class="edit">
        <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:150px;">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="URL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </div>
        </form>
    </div>
  </main>

  <footer>
    <% include ../partials/_footer %>
  </footer>

</body>
</html>
