<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body class="container">

  <header>
    <% include ../partials/_header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome TinyApp</h1>
      <ul>
      <% for(url in urls) { %>
      <form method="POST" action="/urls/<%=url%>/delete">
        <li><%= url %>: <%= urls[url] %> <input type="submit" value="Delete"></li>
      </form>
      <% } %>
      </ul>
    </div>
  </main>

  <footer>
    <% include ../partials/_footer %>
  </footer>

</body>
</html>
